<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>faculty-app</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>servlet.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InternshipServlet</display-name>
    <servlet-name>InternshipServlet</servlet-name>
    <servlet-class>servlet.InternshipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InternshipServlet</servlet-name>
    <url-pattern>/InternshipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountServlet</display-name>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>servlet.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/AccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyServlet</display-name>
    <servlet-name>CompanyServlet</servlet-name>
    <servlet-class>servlet.CompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyServlet</servlet-name>
    <url-pattern>/CompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InternshipsServlet</display-name>
    <servlet-name>InternshipsServlet</servlet-name>
    <servlet-class>servlet.InternshipsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InternshipsServlet</servlet-name>
    <url-pattern>/InternshipsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InternshipPostsServlet</display-name>
    <servlet-name>InternshipPostsServlet</servlet-name>
    <servlet-class>servlet.InternshipPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InternshipPostsServlet</servlet-name>
    <url-pattern>/InternshipPostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EvaluateStudent</display-name>
    <servlet-name>EvaluateStudent</servlet-name>
    <servlet-class>servlet.EvaluateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EvaluateStudent</servlet-name>
    <url-pattern>/EvaluateStudent</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>EvaluateInternship</display-name>
    <servlet-name>EvaluateInternship</servlet-name>
    <servlet-class>servlet.EvaluateInternship</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EvaluateInternship</servlet-name>
    <url-pattern>/EvaluateInternship</url-pattern>
  </servlet-mapping>
</web-app>